<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>域名配置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="./layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/user.css">
    <!-- css style -->
    <style type="text/css">
    </style>
    <!-- script -->
    <script src="./layui/layui.js" charset="utf-8"></script>
    <script src="./javascript/jquery-3.4.1.min.js" charset="utf-8"></script>
</head>

<body>
    <div class="my-container">
        <div class="my-main">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card-header">
                        <p>
                            tips: 设置你的域名解析至运行ForwardApp服务的ip(配置文件里面设置)
                        </p>
                    </div>
                    <div class="layui-card-body">
                        <div class="layui-form" lay-filter="myForm" id="myForm">
                            <div class="layui-form-item">
                                <label class="layui-form-label required">域名</label>
                                <div class="layui-input-block">
                                    <input type="text" name="domain" lay-verify="required" placeholder="你的域名,如baidu.com" value="" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label required">UserIP</label>
                                <div class="layui-input-block">
                                    <input type="text" name="ip" lay-verify="required" placeholder="你要转发ip地址,如111.230.x.x" value="" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label required">ServicePORT</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="port" placeholder="你要转发的端口" value="80" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="forwardBtn">开始转发</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    layui.use(['form'], function() {
        var form = layui.form,
            layer = layui.layer;

        //监听提交
        form.on('submit(forwardBtn)', function(data) {
            var domain = data.field.domain;
            var ip = data.field.ip;
            var port = data.field.port;
            $.post('./api/addTask', {
                'domain': domain,
                'ip': ip,
                'port': port
            }, function(data, code) {
                //var index = layer.load(2, {time: 0.5*1000});
                if (data.code == "000") {
                    //关闭加载层
                    layer.msg('添加成功', { icon: 2 });
                }else {
                    layer.msg(data.myMsg, { icon: 5 });
                    //layer.close(index);
                }
            });
            return false;
        });
    });
    </script>
</body>

</html>