body {
    margin: 15px 15px 15px 15px;
    background:
        #f2f2f2;
}

.layui-form>.layui-form-item>.required::after {
    content: '*';
    color: red;
    position: absolute;
    margin-left: 4px;
    font-weight: bold;
    line-height: 1.8em;
    top: 6px;
    right: 5px;
}

.layui-form-item .layui-input-company {
    width: auto;
    padding-right: 10px;
    line-height: 38px;
}

.my-container {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background-color: #ffffff;
}

.my-main {
    margin: 10px 10px;
}
